@import "compass/css3";
@import "compass/utilities";


/* Colors */
$white: #ffffff;
$emperor: #555555;
$alto: #dedede;
$cardinal: #c41e3a;
$wildsand: #f4f4f4;
/* End colors */

/* Fonts */
$font-open: 'Open Sans', sans-serif;
$font-lora:  'Lora', Georgia, serif;

$font-sm: 0.8em;
$font-md: 1.05em;
$font-lg: 1.3em;
$font-xl: 2em;
/* End fonts */

/* Spaces */
$sp-md: 0.5em;
/* End spaces */

/* Custom variables */
$line-w: 370%;
$line-mg: 140%;
/* End custom variables */
